version: '3.8'

services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/gym
      - JWT_SECRET=supersecret
      - JWT_EXPIRES_IN=1h
    volumes:
      - .:/usr/src/app
    command: npm start

volumes:
  mongo_data: